@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--lightgrayishblue) !important;
	font-family: var(--font-body) !important;
	position: absolute;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	width: calc(100% - 3rem);
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 0;
	@include breakpoint-down(large) {
        margin-top: rem(80) !important;
        margin-bottom: rem(25);
        max-width: rem(327); 
    }
}
