:root {
	--white: hsl(0, 0%, 97%);
	--black: hsl(0, 0%, 0%);
	--moderateviolet: hsl(263, 55%, 52%);
	--verydarkgrayishblue: hsl(217, 19%, 30%);
	--verydarkgrayishblueOP7: hsla(217, 19%, 30%, 0.7);
	--verydarkblackishblue: hsl(219, 29%, 14%);
	--lightgrayOP7: hsla(0, 0%, 81%, 0.7);
	--lightgrayOP5: hsla(0, 1%, 68%, 0.671);
	--lightgray: rgb(226, 224, 224);
	--lightgrayishblue: hsl(210, 46%, 95%);
}
